# **PYTHON 10 PANDAS (parte 1)**

### **TÓPICOS A ESTUDAR:**

- Pandas
    - O que é
    - Estrutura de Dados
- Comandos básicos
    - Sintaxe
    - Exemplos<br><br>
- Tarefa

-----------------------------------------

## PANDAS

**O QUE É**<br>
- É uma biblioteca open-source muito usada na área de Ciência e Engenharia. Foi desenvolvida para facilitar o trabalho com dados estruturados, análise de dados, trazendo ferramentas e funções para isso.
<br>

**ESTRUTURA DE DADOS**<br>
- Ao facilitar o trabalho com dados, Pandas traz duas estruturas onde os dados tabulares são transformados, sendo elas: `DataFrames` e `Series`. Sendo a principal diferença entre essas duas estruturas é que as `Series` sempre tem uma dimensão, e os `DataFrames` podem ter uma ou mais dimensões (sendo um conjunto de `Series`).

-----------------------------------------

## COMANDOS BÁSICOS

**PRIMEIROS COMANDOS**<br>
- `pd.read_csv(path)`: Faz a leitura de um CSV para DataFrame
- `pd.DataFrame(data)`: Cria um DataFrame partir de dados passados como argumento
- `pd.Series(data)`: Cria um objeto Series com os dados passados como argumento
- `pd.DataFrame[coluna]`: Retorna a coluna especificada como uma Series
- `pd.DataFrame.iloc[linha]`: Retorna uma linha específica do DataFrame como Series
- `pd.DataFrame[nova coluna] = data`: Cria uma nova coluna no final do DataFrame
<br>

**EXEMPLO**<br>

In [9]:
import pandas as pd 

df_water = pd.read_csv('Data/water_potability.csv')
df_water

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
...,...,...,...,...,...,...,...,...,...,...
3271,4.668102,193.681735,47580.991603,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1
3272,7.808856,193.553212,17329.802160,8.061362,NaN,392.449580,19.903225,NaN,2.798243,1
3273,9.419510,175.762646,33155.578218,7.350233,NaN,432.044783,11.039070,69.845400,3.298875,1
3274,5.126763,230.603758,11983.869376,6.303357,NaN,402.883113,11.168946,77.488213,4.708658,1
3275,7.874671,195.102299,17404.177061,7.509306,NaN,327.459760,16.140368,78.698446,2.309149,1

In [6]:
data = {
    'col1':[0,1,2,3,4,5,6],
    'col2':[8,7,9,6,4,102,0]
}

df = pd.DataFrame(data=data)
df

   col1  col2
0     0     8
1     1     7
2     2     9
3     3     6
4     4     4
5     5   102
6     6     0

In [8]:
sr = pd.Series([4,3,2,1,0])
sr

0    4
1    3
2    2
3    1
4    0
dtype: int64

In [12]:
df_water['ph']

0            NaN
1       3.716080
2       8.099124
3       8.316766
4       9.092223
          ...
3271    4.668102
3272    7.808856
3273    9.419510
3274    5.126763
3275    7.874671
Name: ph, Length: 3276, dtype: float64

In [13]:
df_water.iloc[500]

ph                     6.109073
Hardness             191.755571
Solids             26853.949493
Chloramines            9.064613
Sulfate              312.201984
Conductivity         375.547362
Organic_carbon        15.514033
Trihalomethanes       73.789683
Turbidity              4.881101
Potability             0.000000
Name: 500, dtype: float64

In [16]:
df['nova'] = [7,8,9,5,2,6,8]
df

   col1  col2  nova
0     0     8     7
1     1     7     8
2     2     9     9
3     3     6     5
4     4     4     2
5     5   102     6
6     6     0     8

-----------------------------------------